.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin blue() {
  color: darkblue;
  background-color: lightblue;
}

@mixin green() {
  color: darkgreen;
  background-color: lightgreen;
}

.alert {
  display: flex;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  margin: 1.5rem auto;

  img {
    margin-right: 0.5rem;
  }

  &.info {
    @include blue;
  }
  &.success {
    @include green;
  }
}
